body {
	margin: 0;
	font-family: system-ui, sans-serif;
}

/* Estilos do header */
header {
	margin: 0 2rem;
	background-color: #242424;
	color: #fff;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 100px;
}

.nav {
	display: flex;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.nav li {
	margin-left: 1rem; /* Espaçamento entre os itens */
}

.nav a {
	color: #fff; /* Cor dos links */
	text-decoration: none;
	transition: color 0.3s ease; /* Transição suave da cor ao passar o mouse */
}

.nav a:hover {
	color: #c9c9c9; /* Cor dos links ao passar o mouse */
}

.active {
	font-weight: 500;
	background-color: #b71c1c;
	padding: 0.48rem;
	border-radius: 16px;
}
